/*!
 * Roots 6.5.2
 */

$bootstrap-sass-asset-helper: false;
@import "bootstrap/bootstrap";

/* ==========================================================================
   Base
   ========================================================================== */


/* ==========================================================================
   Header
   ========================================================================== */

$banner-top-margin: 37px;
$nav-height: 36px; 

.banner {
    border-top: 1px solid #E7E7E7;
    margin-top: $banner-top-margin;
    min-height: inherit;
    padding-left: 150px;

    > .container > nav {
        margin: 0px 30px;

        &:nth-of-type(even) {
            border-top: 1px solid #E7E7E7;
        }
    }


    .navbar-nav {
        & > li > a {
            padding-top: 7px;
            padding-bottom: 7px;
        }

        .current_page_item {
            background-color: #E7E7E7;
            color: #55555;
        }
    }
}

div.brand {
    height: 35px;
    width: 0px;
}

a.brand {
    display: block;
    background: url(../img/logo.png) no-repeat;
    position: relative;
    left: -150px;
    top: -$banner-top-margin;
    text-indent: -9999px;
    width: 150px;
    height: 150px;
}


/* ==========================================================================
   Adminbar
   ========================================================================== */

$adminbar-height: 32px;

body.admin-bar {
    .banner {
        margin-top: $adminbar-height + $banner-top-margin;
    }
    .content {
        margin-top: $adminbar-height + $banner-top-margin + $nav-height;
    }
    &.page-parent .content, &.page-child .content {
        margin-top: $adminbar-height + $banner-top-margin + $nav-height*2;
    }
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { 
    margin: $banner-top-margin + $nav-height -15px 0px 150px;

    body.page-parent &, body.page-child &  {
        margin: $banner-top-margin + $nav-height*2 -15px 0px 150px;
    }
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

body.home main.main .page-header {
    display: none;
}



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
    margin-top: 50px;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: $screen-sm-min) { }

@media (min-width: $screen-md-min) { }

@media (min-width: $screen-lg-min) { }
