/*!
 * Roots 6.5.2
 */

$bootstrap-sass-asset-helper: false;
@import "bootstrap/bootstrap";

/* ==========================================================================
   Base
   ========================================================================== */


/* ==========================================================================
   Header
   ========================================================================== */

$banner-top-margin: 6px;
$nav-height: 36px; 
$nav-mobile-height: 50px;
$logo-height: 150px;
$content-top-buffer: 10px;

.banner {
    border-top: 1px solid #E7E7E7;
    margin-top: $logo-height / 2 - $nav-height + $banner-top-margin;
    min-height: inherit;
    padding-left: 150px;

    > .container nav {
        margin: 0px 30px;

        &:nth-of-type(even) {
            border-top: 1px solid #E7E7E7;
        }
    }


    .navbar-nav {
        & > li > a {
            padding-top: 7px;
            padding-bottom: 7px;
        }

        .current_page_item {
            background-color: #E7E7E7;
            color: #55555;
        }
    }
}

div.brand {
    height: 35px;
    width: 0px;
}

a.brand {
    display: block;
    background: url(../img/logo.png) no-repeat;
    position: relative;
    left: -150px;
    top: -$logo-height / 2 + $nav-height;
    text-indent: -9999px;
    width: 150px;
    height: 150px;
}

@media (max-width: $screen-xs-max) {
    .banner {
        margin-top: $logo-height / 2 - $nav-mobile-height / 2 + $banner-top-margin;
        padding-left: 10px;
        position: absolute;
    }

    a.brand {
        left: 0px;
        top: -$logo-height / 2 + $nav-mobile-height / 2;
    }
}

$offcanvas-offset: 60%;

@media screen and (max-width: $screen-xs-max) {
    .row-offcanvas {
        position: relative;
        transition: all 0.25s ease-out 0s;
    }
    .row-offcanvas-right {
        right: 0;
    }
    .row-offcanvas-right .sidebar-offcanvas {
        right: -$offcanvas-offset;
        transition: all 0.25s ease 0s;
    }
    .row-offcanvas-right.active {
        right: $offcanvas-offset + 15%;
    }
    .sidebar-offcanvas {
        display: none;
        height: 100%;
        margin: 0px;
        margin-top: -1px;
        position: absolute;
        top: 0px;
        width: $offcanvas-offset;
        
        nav {
            background : #ffffff;
        }
    }
}


/* ==========================================================================
   Adminbar
   ========================================================================== */

$adminbar-height: 32px;
$adminbar-mobile-height: 46px;

body.admin-bar {
    .banner {
        margin-top: $logo-height / 2 - $nav-height + $banner-top-margin + $adminbar-height;
    }

    .content {
        margin-top: $logo-height / 2 + $banner-top-margin + $content-top-buffer + $adminbar-height;
    }

    &.page-parent .content, &.page-child .content {
    }
    
    @media (max-width: $screen-xs-max) {
        .banner {
            margin-top: $logo-height / 2 - $nav-mobile-height / 2 + $banner-top-margin + $adminbar-mobile-height;
        }

        .content {
            margin-top: $adminbar-mobile-height + $logo-height - $banner-top-margin + $content-top-buffer;
        }
    }
}

body #wpadminbar {
    z-index: 2000 !important;
}

/* ==========================================================================
   Content
   ========================================================================== */

body.home main.main .page-header {
    border: none;
    padding: 0px;
    
    h1 {
        display: none;
    }
}
    
.content { 
    margin-top: $logo-height + $banner-top-margin + $content-top-buffer;
    margin-left: auto;
    
    @media (min-width: $screen-md-min) {
        margin-top: $logo-height / 2 + $banner-top-margin + $content-top-buffer;
        margin-left: 150px;

        body.page-parent &, body.page-child &  {
            margin-top: $logo-height / 2 + $banner-top-margin + $nav-height + $content-top-buffer;
        }
    }


    main.main {
        .page-header {
            margin-top: auto;
        }

        .thumbnail, a.thumbnail img {
            max-width: 100%;
            height: auto;
            width: auto;
            margin-bottom: auto;
        } 

        figure.thumbnail.alignleft, figure.thumbnail.alignright, figure.thumbnail.aligncenter, figure.thumbnail.alignnone, img.alignleft, img.alignright, img.aligncenter, img.alignnone {
            @media (max-width: $screen-xs-max) {
                margin: 15px auto !important;
                width: 100% !important;

                img {
                    width: 100%;
                }
            }
        }

        figure.thumbnail.aligncenter, img.aligncenter {
            margin: 1em auto;
        }

        .caption {
            padding: 9px;
            text-align: left;
        }

        img, div.gallery-cell {
            border: 1px solid #dddddd;
            border-radius: 4px;
            margin: 0px;
            padding: 4px;
            transition: all 0.2s ease-in-out 0s;
        }

        figure.thumbnail img, div.gallery-cell img, div.gallery-cell a {
            border: none;
            padding: 0px;
        }
        
        .gallery-row { padding: 15px 0; }
    }
}


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }


/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
    margin-top: 50px;
}


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: $screen-sm-min) { }
@media (min-width: $screen-md-min) { }
@media (min-width: $screen-lg-min) { }
