/*!
 * Roots 6.5.2
 */

$bootstrap-sass-asset-helper: false;
@import "bootstrap/bootstrap";

/* ==========================================================================
   Base
   ========================================================================== */


/* ==========================================================================
   Header
   ========================================================================== */

$banner-top-margin: 25px;

.banner {
    border-top: 1px solid #E7E7E7;
    margin-top: $banner-top-margin;
    padding-left: 150px;
}

div.brand {
    height: 50px;
    width: 50px;
}

a.brand {
    display: block;
    background: url(../img/logo.png) no-repeat;
    position: relative;
    left: -150px;
    top: -$banner-top-margin;
    text-indent: -9999px;
    width: 150px;
    height: 150px;
}


/* ==========================================================================
   Adminbar
   ========================================================================== */

$adminbar-height: 32px;

body.admin-bar .banner, body.admin-bar .content {
    margin-top: $adminbar-height + $banner-top-margin;
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { 
    margin-left: 150px;
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: $screen-sm-min) { }

@media (min-width: $screen-md-min) { }

@media (min-width: $screen-lg-min) { }
